* {margin: 0; padding: 0;}

body {
}

header {
	background: url('../bg-dark.jpg') no-repeat;
	background-size: cover;

	width: 100%;
	display: block;
	height: 100%;

	text-align: center;

	position: fixed;

	color: #FFF;

	z-index: 0;
}

#headerContent {
	top: 50%;
	width: auto;
	display: block;

	position: relative;

	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

#headerList{
	margin: 1.75em auto;
	font-family: 'Helvetica Neue', sans-serif;

	display: block;
	list-style: none;

	text-align: center;
}

#headerList li {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 800;

	vertical-align: middle;
}

#headerList li a {
	color: #787878;
	text-decoration: none;
}

.seperator {
	margin: 0 1em;
	width: 0.5em;
	height: 1.5em;
	background: #37A;

	display: inline-block;
}

#headerList li:hover {
	text-decoration: underline;
}

#whatLink:hover #whatList {
	display: block;
}

.subList {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	display: none;
	list-style: none;
	text-align: center;
	font-size: 0.8em;
}

.subList .seperator {
	width: 0.2em;
	height: 1.4em;
}

.subList li {
	display: inline-block;
	line-height: 1.2em;
	vertical-align: middle;
}

main {
	top: 100%;
	padding: 50px 0;
	width: 100%;
	z-index: 2;
	position: absolute;


	background: #FFF;
	box-shadow: 0px 0px 100px #000;

	transition: box-shadow 0.5s;

	font-family: 'Helvetica';
	font-size: 1.1em;
	line-height: 160%;
}

main:hover {
	box-shadow: 0px 0px 100px #666;
}

@keyframes fadeShadow {
  0% {
    box-shadow: 0px -50px 30px #000;
  }
  100% {
    box-shadow: 0px -50px 30px #F00;
  }
}

h1 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 100;
	font-size: 6em;
	line-height: 130%;
}

h3 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
	line-height: 2em;
}